@model TodoList.ViewModel.ItemsCreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>新增</h2>

@using (Html.BeginForm("Create", "Items", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<table>
    <tr>
        <td>Subject</td>
        <td>@Html.EditorFor(x => x.Subject)</td>
    </tr>
    <tr>
        <td>Finished</td>
        <td>@Html.EditorFor(x => x.Finished)</td>
    </tr>
    <tr>
        <td>Memo</td>
        <td>@Html.EditorFor(x => x.Memo)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="送出" /></td>
    </tr>
</table>
}

